html, body {
  margin: 0;
  padding: 0;
  background: #000;
}

/* Trang liên hệ */
.contact-section {
  min-height: 100vh;
  padding: 80px 20px;
  text-align: center;
  background: #000;
  color: white;
}


.contact-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.contact-section p {
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  outline: none;
}

.contact-form button {
  padding: 12px;
  background: #ffcc00;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background: #fff;
  color: black;
}